.ModalBox {
    display: flex;
    flex-direction: column;
    height: 667px;
    width: 375px;
    overflow: hidden;
}
  .ModalBox--hidden {
    height: 0px;
}
/* modal library is rendering modal in home, to hide I have created this style */
  .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 272px;
      text-align: center;
      background-color: green;
}
  .Modal1_Text {
      font-size: 20px;
      font-weight: 300;
      color: ivory;
      text-align: center;
      letter-spacing: 0;
      font-family: 'Barlow';
      margin-bottom: 20px;
}
  .Modal_options {
    display: flex;
    flex-direction: row;
}
  .option0 {
    border: 1px solid ivory;
    border-radius: 8px;
    font-size: 12px;
    color: ivory;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Barlow-Regular';
    height: 73px;
    width: 77px;
    background-color: ivory;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-right: 16px;
    cursor: pointer;
}
  .option0_1{
    border: 2px solid darkgreen;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 900;
    font-style: oblique;
    color: ivory;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Barlow-Regular';
    height: 73px;
    width: 77px;
    background-color: ivory;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-right: 16px;
}
  .option1 { 
    border: 1px solid ivory;
    border-radius: 8px;
    font-size: 12px;
    color: ivory;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Barlow-Regular';
    height: 73px;
    width: 77px;
    background-color: ivory;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-right: 16px;
    cursor: pointer;
}
  .option1_1{
    border: 2px solid darkgreen;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 900;
    font-style: oblique;
    color: ivory;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Barlow-Regular';
    height: 73px;
    width: 77px;
    background-color: ivory;
    margin-left: 16px;
    margin-bottom: 32px;
    margin-right: 16px;
}
  .Modal_apply_options {
    display: flex;
    flex-direction: row;
}
   .Modal_apply {
    border: 1px solid darkgreen;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: darkgreen;
    width: 292px;
    height: 40px; 
    font-size: 16px;
    font-weight: 300;
    margin-left: 12px;
    margin-right: 12px; 
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  .Modal_apply_clean {
    border: 1px solid darkgreen;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: darkgreen;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 106px;
    height: 35px; 
    cursor: pointer;
    margin-top: 10px;
}
  .Modal_apply_accept {
    border: 1px solid ivory;
    border-radius: 4px;
    background-color: darkgreen;
    color: ivory;
    font-size: 16px;
    font-weight: bold;
    text-align: center; 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 106px;
    height: 35px; 
    cursor: pointer;
    margin-top: 10px;
}
  p {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 11px;
}
  .image_modal {
      margin-top: 11px;
      margin-bottom: 8px;
      height:58px;
      width: 60px;
}
 