  .home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .home__images {
    margin: 10px 0 10px 0;
  }
  .home__images__img {
    height: 90px;
    width: 90px;
    padding: 0 3px;
    text-align: center;
  }
  .home__welcome {
    color: rgb(48, 161, 48);
    margin: 0px 32px 5px 32px;
    text-align: center;
    font-size: 16px;
  }
  .line{
    width: 25%;
    height: 1px;
    opacity: 0.75;
    background-color: rgb(48, 161, 48);
    margin-left: 12%;
    margin-right: 12%;
  }
  
  