@media (min-width: 768px) {
.PostList-Home {
  margin-top: 0px;
}
.PostList-Title {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: rgb(202, 202, 11);
  margin: 5px;
  text-align: center;

}
ol {
  opacity: 0;
}
span.carousel-control-prev-icon{
  background-color:rgb(48, 161, 48);
  opacity: 0;
}
span.carousel-control-next-icon{
  background-color: rgb(48, 161, 48);
  opacity: 0;
}
}
@media (max-width: 767px) {
  .PostList-Title {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(202, 202, 11);
    margin: 5px;
    text-align: center;
  
  }
  ol {
    opacity: 0;
  }
  span.carousel-control-prev-icon{
    background-color:rgb(48, 161, 48);
    opacity: 0;
  }
  span.carousel-control-next-icon{
    background-color: rgb(48, 161, 48);
    opacity: 0;
  }
  }