@import url('https://fonts.googleapis.com/css?family=Barlow:600&display=swap');

.moreinfo-Blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.moreinfo-Card-Blog{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 0px;
  padding: 0px; 
}
.moreinfo-logo {
  border: 2px solid rgb(48, 161, 48);
}
.moreinfo-photo {
  width: 60%;
  height: 240px;
  margin: 30px 20% 30px 20%;
  border: 2px solid rgb(48, 161, 48);
  border-radius: 20px;
}
.page-footer.green.font-small.pt-4.mt-4 {
  width: 100%;
}